<div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-6 padding-20">
            <h3>Let's collaborate 🔥</h3>
            <p>Description text. Proin gravida ex id consectetur lobortis. Aliquam ornare, velit vel faucibus dapibus, augue justo ullamcorper turpis.</p>
            <div class="footer-links">
              <a href="https://github.com/juliettech13"><i class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-medium"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-xs-12 col-lg-6">
            <!-- <header> -->
              <form action="mailto:juliettech.1393@gmail.com" method="post">
                <div class="field">
                  <input type="text" id="user" placeholder="Full name" autocomplete="off">
                  <!-- <label for="user">Full name</label> -->
                </div>
                <div class="field">
                  <input type="email" id="e-mail" placeholder="E-mail" autocomplete="off">
                 <!--  <label for="e-mail">e-mail</label> -->
                </div>
                <div class="field last">
                  <input type="text" id="name" placeholder="Tell me about you" autocomplete="off">
                  <!-- <label for="name">What's up?</label> -->
                </div>
                <button type="submit" class="btn btn-primary">contact me</button>
              </form>
            <!-- </header> -->

          </div>
        </div>
      <!-- <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div> -->
      </div>
    </div>
