<div class="title-pen">
  <div class="title-top  one"> < juliet_tech></div>
  <div class="title-top  two" > < juliet_tech></div>
  <div class="title-top  three"> < juliet_tech> </div>
  <div class="title-top  four"> < juliet_tech> </div>
  <!-- <div class="title-bottom  one">chevalier⚡️></div>
  <div class="title-bottom  two">chevalier⚡️></div>
  <div class="title-bottom  three">chevalier⚡️></div>
  <div class="title-bottom  four">chevalier⚡️></div> -->
</div>
