#home {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

body{
  font-family: 'Alegreya', serif;
  max-width: 100vw;
  & h1{
    font-family: 'Roboto Mono', monospace;
  }
  & h2 {
    font-family: 'Alegreya', serif;
  }
  & h3 {
    font-family: 'Alegreya', serif;
  }
  & h4 {
    font-family: 'Roboto Mono', monospace;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.padding-20{
  padding: 20px;
}

.padding-40{
  padding: 40px;
}

.padding-140{
  padding: 140px;
}

.home-btn{
  vertical-align: middle;
  display: flex-root
}

.full-div{
  min-width: 100%;
  min-height: 100%
}

.title{
  padding: 20px;
  & h1{
    font-size: 30px;
  }
}

.banner-img img{
    max-width: 100%;
    margin: 0 auto;
  }


.call-to-action{
  display: flex;
  // justify-content: center;
  // margin: 0 auto;
  padding: 40px 0px;
}

.padding-15{
  padding: 15px;
}

.action h1 {
  font-size: 21px;
}

.mid-img {
  width: 60%;
  height: 40%
}

.background-square{
  background-color: $light-gray;
  padding: 80px;
  width: 40%;
}

.section{
  display: flex;
}

.quote h4{
  font-family:'Alegreya', serif;
}


