---
title: juliet_tech
---

<div class="container">
  <div class="title text-center">
    <h1>&lt;/juliet_tech&gt;</h1>
  </div>
  <div class="row">
  <div class="col-xs-12 banner-img">
    <%= image_tag "Le_wagon_Bali-Demo_Day-81.jpg" %>
  </div>
  </div>
    <div class="row">
  <div class="call-to-action padding-40 flex">
      <div class="col-xs-12 col-md-6 padding-40 half-pg-p">
        <p>Here is a description of your company. Pellentesque habitant morbi tristique senectus et netus malesuada fames. Ullamcorper turpis, nec convallis metus nunc vel turpis. Augue justo ullamcorper turpis, nec convallis metus nunc vel turpis.</p>
      </div>
      <div class="col-xs-12 col-md-6 padding-40 vertical-center">
        <div class="btn btn-primary full-div">SCHEDULE A <br> FREE CONSULTATION</div>
      </div>
    </div>
  </div>
  <div class="what-i-do">
    <div class="row">
      <div class="col-xs-12 col-lg-4 action padding-40">
        <h1>PROGRAMMING</h1>
        <p>Description text. Ullamcorper turpis, nec convallis metus nunc vel turpis. Augue justo ullamcorper turpis, nec convallis metus nunc vel turpis. Donec eu ornare augue, ut efficitur velit. </p>
        <a href="#">See All Code</a>
      </div>
      <div class="col-xs-12 col-lg-4 action padding-40">
        <h1>WRITINGS</h1>
        <p>Description text. Ullamcorper turpis, nec convallis metus nunc vel turpis. Augue justo ullamcorper turpis, nec convallis metus nunc vel turpis. Donec eu ornare augue, ut efficitur velit.</p>
        <a href="#">See All Writings</a>
      </div>
      <div class="col-xs-12 col-lg-4 action padding-40">
        <h1>TRAVEL</h1>
        <p>Description text. Ullamcorper turpis, nec convallis metus nunc vel turpis. Augue justo ullamcorper turpis, nec convallis metus nunc vel turpis. Donec eu ornare augue, ut efficitur velit.</p>
        <a href="#">See All Adventures</a>
      </div>
    </div>
  </div>
  <div class="section">
    <%= image_tag "world.jpg", class: "mid-img" %>
    <div class="background-square">
      <h4>Methodology</h4>
      <p>Description text. Proin gravida ex id consectetur lobortis. Aliquam ornare, velit vel faucibus dapibus, augue justo ullamcorper turpis.</p>
      <a href="#" class="btn btn-secondary">ABOUT ME</a>
    </div>
  </div>
  <div class="quote padding-140">
    <h4>We take the stress out of financial planning. Proin gravida ex id consectetur lobortis. Aliquam ornare, velit vel faucibus dapibus, augue justo.</h4>
    <p>— Blandit Lectus</p>
  </div>
  <div class="section">
    <div class="background-square">
      <h4>Where I've been</h4>
      <p>We take the stress out of financial planning. Proin gravida ex id consectetur lobortis. Aliquam ornare, velit vel faucibus dapibus, augue justo.</p>
      <a href="#" class="btn btn-secondary">ADVENTURES</a>
    </div>
    <%= image_tag "world.jpg", class: "mid-img" %>
  </div>
</div>
